@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body,
html {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}
/*title words*/
h1 {
  font-weight: 800;
  font-size: 50px;
}

h2 {
  font-weight: 800;
  font-size: 50px;
}

/*names*/
h3 {
  font-weight: bold;
  font-size: 50px;
}
/*middle class*/
h4 {
  font-weight: bold;
  font-size: 30px;
}

p {
  font-weight: bold;
  font-size: 30px;
  margin: 30px 0;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.hero-banner {
  background-color: #393c43;
  min-height: 100vh;
  padding: 50 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.hero-banner h1 {
  color: white;
  margin: 14px 0 20px;
}

.hero-banner h3 {
  color: white;
  margin: 0 0 35px;
}

.hero-banner h4,
.hero-banner h4 a {
  color: white;
  margin: 0;
}

.character1 {
  background-size: contain;
  width: 98px;
  height: 96px;
  position: absolute;
  top: 10%;
  right: 30%;
}

.character2 {
  background-size: contain;
  width: 98px;
  height: 96px;
  position: absolute;
  top: 10%;
  right: 20%;
}

.character3 {
  background-size: contain;
  width: 98px;
  height: 96px;
  position: absolute;
  top: 10%;
  right: 10%;
}

.character4 {
  background-size: contain;
  width: 98px;
  height: 96px;
  position: absolute;
  top: 25%;
  right: 30%;
}

.character5 {
  background-size: contain;
  width: 98px;
  height: 96px;
  position: absolute;
  top: 25%;
  right: 20%;
}

.character6 {
  background-size: contain;
  width: 98px;
  height: 96px;
  position: absolute;
  top: 25%;
  right: 10%;
}

.character7 {
  background-size: contain;
  width: 98px;
  height: 96px;
  position: absolute;
  top: 40%;
  right: 20%;
}

a.cta,
button.cta {
  font-size: 30px;
  font-weight: bold;
  color: white;
  background: #393c43;
  display: inline-block;
  box-shadow: 0 0 0 10px rgb(32, 34, 37);
  padding: 20px 30px;
  border-radius: 10px;
  text-decoration: none;
}
a.cta.alt,
button.cta.alt {
  background-color: #393c43;
  color: #111111;
  box-shadow: 0 0 0 10px rgba(32, 34, 37, 0.15);
}

nav {
  height: 100px;
  background-color: #7289da;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

nav .logo {
  display: block;
  width: 300px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
  margin-left: 30px;
  background: url(../img2/logo.PNg) no-repeat 0 0;
  background-size: 100%;
  overflow: hidden;
  text-indent: -999px;
}

nav ul {
  padding: 0;
  margin: 0 20px 0 0;
}

nav ul li {
  margin: 0;
  padding: 0;
  display: block;
  float: right;
}

nav ul li a {
  display: block;
  height: 100%;
  box-sizing: border-box;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 35px 10px;
  line-height: 30px;
}

.more-info {
  text-align: center;
}

/*
 <nav>
        <a href="#" class="logo">The Boys</a>
        <ul>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#story">The Story</a></li>
            <li><a href="#more-info">More Info</a></li>
        </ul>
    </nav>
    */
